<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ title }}",
  "jobTitle": "{{ role }}",
  "worksFor": {
    "@type": "Organization",
    "name": "{{ organisation }}"
  },
  "description": "{{ summary }}",
  "url": "https://aswhub.maxifidigital.com{{ page.url }}",
  "sameAs": "https://aswhub.maxifidigital.com{{ page.url }}"
}
</script>
