<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ title | dump | safe }}{% if role %},
  "jobTitle": {{ role | dump | safe }}{% endif %}{% if organisation %},
  "worksFor": {
    "@type": "Organization",
    "name": {{ organisation | dump | safe }}
  }{% endif %}{% if summary %},
  "description": {{ summary | dump | safe }}{% endif %},
  "url": "https://aswhub.maxifidigital.com{{ page.url }}"{% if sameAs %},
  "sameAs": [{% for ref in sameAs %}{{ ref | dump | safe }}{% if not loop.last %}, {% endif %}{% endfor %}]{% endif %}
}
</script>
