---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  {# Static pages #}
  <url>
    <loc>https://aswhub.maxifidigital.com/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/how-it-works/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/themes/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/sessions/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/speakers/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/insights/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/citation-report/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/aeo-audit-hub/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://aswhub.maxifidigital.com/asw-2025/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>

  {# Dynamic: Themes #}
  {% for item in collections.themes %}
  <url>
    <loc>https://aswhub.maxifidigital.com{{ item.url }}</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}

  {# Dynamic: Sessions #}
  {% for item in collections.sessions %}
  <url>
    <loc>https://aswhub.maxifidigital.com{{ item.url }}</loc>
    {% if item.date %}<lastmod>{{ item.date | isoDate }}</lastmod>{% endif %}
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  {# Dynamic: Speakers #}
  {% for item in collections.speakers %}
  <url>
    <loc>https://aswhub.maxifidigital.com{{ item.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  {# Dynamic: Insights #}
  {% for item in collections.insights %}
  <url>
    <loc>https://aswhub.maxifidigital.com{{ item.url }}</loc>
    {% if item.date %}<lastmod>{{ item.date | isoDate }}</lastmod>{% endif %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {% endfor %}

</urlset>
